<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Menu edit</h1>
    </div>
    <!-- /.col-lg-12 -->

	<div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Edit
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <form action="admin.php" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" required="required" placeholder="Name" name="name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" required="required" placeholder="Dispatсh" name="dispatch">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" required="required" placeholder="Url" name="url">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Сохранить</button>
                </form>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->

</div>
<!-- /.row -->